/*----------------------------------Main----------------------------------*/
.main_top {
    width: 100%;
    height: 60px;
    background-color: #2BA2E7;
}

.main_logo {
    float: left;
    width: 100px;
    height: 30px;
    margin-top: 13px;
    margin-left: 20px;
}

.main_username {
    float: right;
    height: 60px;
    color: white;
    font-size: 13px;
    font-family: 微软雅黑;
    line-height: 60px;
    padding-right: 10px;
}

    .main_username a {
        color: white;
        text-decoration: none;
        padding-left: 10px;
    }

        .main_username a:hover {
            text-decoration: underline;
        }

.main_center {
    width: 100%;
}

.main_left {
    width: 18%;
    height: 800px;
    float: left;
}

.main_right {
    width: 81%;
    float: right;
}

.main_l_outdiv {
    width: 90%;
    height: 700px;
    margin: 0 auto;
    margin-top: 10px;
}

.main_l_div {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #2BA2E7;
    margin-top: 10px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.main_l_div_word {
    color: white;
    display: block;
    text-indent: 15px;
    text-decoration: none;
    width: 80%;
    float: left;
}

.main_l_div_add {
    width: 18%;
    float: right;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 微软雅黑;
}

.main_detail {
    width: 100%;
    height: 30px;
    border-bottom: 1px dashed #DDDDDD;
    line-height: 30px;
    text-indent: 15px;
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
}

    .main_detail:hover {
        background-color: #E2F0FF;
    }

.forHidding {
    display: none;
}

.frameSty {
    width: 100%;
    height: 800px;
    border: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-left: 20px;
}




/*----------------------------------AddAdminUser/AddAdminRole----------------------------------*/
.aau_div {
    margin-bottom: 10px;
}

.aau_div_label {
}

.IncomeDiv {
    border: 1px solid #DDDDDD;
    width: 820px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    display:none;
}

.aau_div_left {
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    width: 70px;
}

.aau_div_right {
    float: left;
    margin-left: 20px;
}
/*----------------------------------MngClothType----------------------------------*/
.clothtype_a {
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    text-decoration: none;
}

.clothtype_aLine {
    padding-left: 2px;
    padding-right: 4px;
}

.divSep {
    height: 30px;
}

.addBtnDiv {
    margin-bottom: 20px;
}

.addFBtn {
    height: 40px;
    display: none;
    margin-bottom: 10px;
}

.addCBtn {
    height: 40px;
    display: none;
    margin-bottom: 10px;
}

.addBtnWord {
    height: 40px;
    line-height: 35px;
    float: left;
}

.typeDp {
    float: left;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #DDDDDD;
}
/*----------------------------------Add Cloth----------------------------------*/
.addCloth_dp {
    border: 1px solid #DDDDDD;
    margin-top: 7px;
    margin-right: 10px;
    float: left;
}

.addCloth_rd {
    margin-top: 5px;
}
/*----------------------------------Add Picture----------------------------------*/
.MiddleRight {
    float: left;
}

    .MiddleRight img {
        float: left;
        width: 100px;
        height: 80px;
        display: none;
    }

.btnUp {
    width: 80px;
    height: 27px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    float: left;
}

.fileUp {
    width: 225px;
    height: 25px;
    border: 1px solid #DDDDDD;
    display: none;
    float: left;
}

.fileUp_1 {
    width: 225px;
    height: 25px;
    border: 1px solid #DDDDDD;
    float: left;
    margin-right: 10px;
}

.picShowMsg {
    height: 30px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    float: left;
}

.tableChangeColor {
    background-color: red;
}

.tableColor {
    background-color: #F9F9F9;
}

.mng_search_div {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
}

.mng_search_radio {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.mng_search_btn {
    float: left;
    color: white;
    background-color: #27A2E6;
    cursor: pointer;
    padding: 2px;
    border: 0;
    border-radius: 3px 3px 3px 3px;
    height: 30px;
    width: 70px;
    margin-left: 7px;
    margin-top: 3px;
}

.addCloth_ck {
    margin-top: 7px;
    display: block;
    float: left;
    margin-right: 5px;
}
/*----------------------------------Mng Custom----------------------------------*/
.mngCus_adddiv {
    height: 40px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-left: 5px;
}

.mngCus_adddiv_t {
    height: 30px;
    width: 70px;
    font-size: 13px;
    float: left;
    line-height: 30px;
}
